.pagina {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.pagina .box-sinistra {
  width: 30%;
  background: rgb(50, 59, 76);
}

.pagina .box-destra {
  padding: 4rem 2rem 0 2rem;
  width: 70%;
}

.pagina .box-destra .introduzione {
}

.pagina .box-destra .introduzione .titolo {
  color: rgb(50, 59, 76);
  display: flex;
  flex-direction: column;
}
.pagina .box-destra .introduzione .titolo h1 {
  font-size: 3.1rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
}

.pagina .box-destra .introduzione .titolo h2 {
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 0.5rem;
  letter-spacing: 0.3rem;
}

.pagina .box-destra .introduzione .descrizione {
  color: rgb(115, 115, 115);
  padding: 0 0 0 0.5rem;
}

.pagina .box-destra .introduzione .descrizione p {
  margin-bottom: 0;
}

.pagina .box-destra .titolo-gruppo {
  color: rgb(50, 59, 76);
}

.pagina .box-destra .titolo-gruppo h1 {
  padding: 0;
  margin: 0;
  padding-top: 3rem;
}

.pagina .box-destra .titolo-gruppo HR {
  border: 0.07rem solid rgb(50, 59, 76);
  opacity: 80%;
}

.pagina .box-destra .esperienza {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0 1.5rem 0;
}
.pagina .box-destra .esperienza .data {
  color: rgb(166, 166, 166);
  -webkit-text-stroke: 0.05rem rgb(166, 166, 166);
  letter-spacing: 0.1rem;
  font-size: 1.12rem;
}
.pagina .box-destra .esperienza .azienda {
  color: rgb(115, 115, 115);
  letter-spacing: 0.1rem;
  font-size: 1.12rem;
}
.pagina .box-destra .esperienza .qualifica {
  color: rgb(35, 33, 35);
  font-size: 1.4rem;
  -webkit-text-stroke: 0.08rem rgb(35, 33, 35);
}
.pagina .box-destra .esperienza ul {
  color: rgb(115, 115, 115);
  padding: 0 0 0 1.3rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  letter-spacing: 0.05rem;
}
